@CHARSET "UTF-8";
html, body, #wrapper{padding: 0;margin: 0;padding: 0;border: 0;}
table{border-collapse: collapse;}
header{width: 100%;height: 50px}
footer{width:100%;height: 50px; padding: 10px}
footer div{width: 80%;margin:0 auto;}
#wrapper{width: 100%}
#title{text-align: center;}
#go_main{float:right}
#container{margin:0 auto;width:90%;height:400px;padding-top:30px;}
.gms-text-center{text-align: center;}
.gms-border-black{border: 1px solid black;}	
.gms-width-100pro{width: 100%}
.gms-width-30pro{width:30%;}
.gms-text-deco-none{text-decoration: none;}
.gms-margin-auto{margin:0 auto;}
.gms-list-none{list-style-type:none;}
.gms-inline-block{display:inline-block}
.gms-float-right{float:right}
/*background color*/
.gms-bgcolor-blue{background-color: #4311ee;}
.gms-bgcolor-red{background-color: red;}
/*font color*/
.gms-textcolor-white{color: white}
.gms-textcolor-blue{color: blue}
.float-right{float:right;color: white;}
.margin-top-100px{margin-top:100px;}
/* unvisited link */
a:link {color: black;}
/* visited link */
a:visited {color: green;}
/* mouse over link */
a:hover {color: #ff0000;font-size: 15px}
/* selected link */
a:active {color: blue;}
/*common pages*/


